<h1>Profile</h1>
<div *ngIf='model' class="row">
    <div class="col-md-4">
        <div class="col-md-12">
            <mat-form-field>
                <input matInput disabled='true' type="login" name="login" [(ngModel)] = "model.login" #login="ngModel">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
                <input matInput type="name" name="firstname" placeholder="enter first name" [(ngModel)] = "model.firstName" #firstname="ngModel"
                required/>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
                <input matInput type="name" name="lastname" placeholder="enter last name" [(ngModel)] = "model.lastName" #lastname="ngModel"
                required/>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field>
                <input matInput type="email" name="email" placeholder="enter email" [(ngModel)] = "model.email" #email="ngModel"
                email required/>
            </mat-form-field>
        </div>
    </div>
      <div class="col-md-4">
        <div class="col-md-12">
            <input type="checkbox" name="changePassword" [checked]="changePassword" (change)="changePassword = !changePassword"> Change password
        </div>
      
    <div *ngIf="changePassword">
      <div class="col-md-12">
            <mat-form-field>
                <input matInput type="password" name="oldPassword" placeholder="enter old password" [(ngModel)] = "passModel.oldPassword" #oldPassword="ngModel"
                required/>
            </mat-form-field>
      </div>
      <div class="col-md-12">
            <mat-form-field>
                <input matInput type="password" name="newPassword" placeholder="enter new password" [(ngModel)] = "passModel.newPassword" #newPassword="ngModel"
                required/>
            </mat-form-field>
      </div>
      <div class="col-md-12">
            <mat-form-field>
                <input matInput type="password" name="passwordConfirm" placeholder="confirm new password" [(ngModel)] = "passModel.passwordConfirm" #passwordConfirm="ngModel"
                required/>
            </mat-form-field>
    </div>
  </div>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <button [disabled]="(email.invalid || firstname.invalid || lastname.invalid)"
        class="btn btn-default" (click)="confirm()">Confirm</button>
    </div>
    <div *ngIf="changePassword" class="col-md-4">
        <button [disabled]="!passModel.oldPassword || !passModel.newPassword || !passModel.passwordConfirm"
        class="btn btn-default" (click)="changePass()">Change password</button>
    </div>
</div>
<div *ngIf='!model'>Loading...</div>