<h1>Registration</h1>
<div class="col-md-12">
    <mat-form-field>
        <input matInput type="login" name="login" placeholder="enter login" [(ngModel)] = "model.login" #login="ngModel"
            required/>
    </mat-form-field>
</div>
<div class="col-md-12">
    <mat-form-field>
        <input matInput type="name" name="firstname" placeholder="enter firstname" [(ngModel)] = "model.firstName" #firstname="ngModel"
            required/>
    </mat-form-field>
</div>
<div class="col-md-12">
    <mat-form-field>
        <input matInput type="name" name="lastname" placeholder="enter lastname" [(ngModel)] = "model.lastName" #lastname="ngModel"
            required/>
    </mat-form-field>
</div>
<div class="col-md-12">
    <mat-form-field>
        <input matInput type="email" name="email" placeholder="enter email" [(ngModel)] = "model.email" #email="ngModel"
            email required/>
    </mat-form-field>
</div>
<div class="col-md-12">
    <mat-form-field>
        <input matInput type="password" name="password" placeholder="enter password" [(ngModel)] = "model.password" #password="ngModel"
            required/>
    </mat-form-field>
</div>
<div class="col-md-12">
    <mat-form-field>
        <input matInput type="password" name="passwordConfirm" placeholder="confirm password" [(ngModel)] = "model.passwordConfirm" #passwordConfirm="ngModel"
            required/>
    </mat-form-field>
</div>
<div class="col-md-6">
    <button [disabled]="login.invalid || password.invalid || passwordConfirm.invalid || email.invalid || firstname.invalid || lastname.invalid"
    class="btn btn-default" (click)="Register()">Register</button>
    <button class="btn btn-default" (click)="Login()">Login</button>
</div>