<div class="col-md-12">    
    <div class="sort">
        <div class="col-md-2 elem" *ngFor="let item of order">
            <input type="radio" [id]="item.id" 
            name="order" [value]="item.value" [(ngModel)]="type" (change) = "changeOrder()">
            <label [for]="item.id">{{item.name}}</label>
        </div>
    </div>
</div>