<div *ngIf="count>1" class="col-md-12">
    <ul class="pagination">
        <li *ngIf="!(pageNumber==1)"><a href="javascript:void(0)" (click)="selectPage(pageNumber-1)"><-</a></li>
        <li *ngIf="(pageNumber>5)"><a href="javascript:void(0)">...</a></li>
        <li *ngFor="let page of pages" [class.active]="page == pageNumber">
        <a href="javascript:void(0)" (click)="selectPage(page)">
            {{page}}
        </a>
        </li>
        <li *ngIf="(pageNumber<count-4)"><a href="javascript:void(0)">...</a></li>
        <li *ngIf="!(pageNumber==count)"><a href="javascript:void(0)"  (click)="selectPage(pageNumber+1)">-></a></li>
    </ul>
</div>