<div *ngIf="!list">Loading...</div>
<div class="photo-container" *ngIf="list">
  <h1 *ngIf="userName">{{userName}}: {{firstName}}</h1>
  <order [type]="pageInfo.typeOfOrder" (newOrder)="changeOrder($event)"></order>
  <paging *ngIf="pages" [pageNumber]="pageInfo.pageNumber" [count]="pages" (newPage)="selectPage($event)"></paging>
  <ul>
    <li *ngFor="let item of list">
      <view-photo [photo]="item" [changeMode]="false"></view-photo>
    </li>
  </ul>
  <paging *ngIf="pages" [pageNumber]="pageInfo.pageNumber" [count]="pages" (newPage)="selectPage($event)"></paging>
</div>