div {
    padding: 0px;
}
div.main {
    background-color: rgb(170, 183, 190);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
div p {
    margin: 10px 0 0;
    font-size: large;
}
.img {
    width: 100%;
    border-radius: 4px;
}
.description {
    margin-top: 5px;
    margin-bottom: 5px;
}
.line-breaker {
    white-space: pre-line;
}