<form>
  <div class="col-md-12 main">
    <img class="img" src="{{ path }}">
    <div class="col-md-12">
        <div class="col-md-4">
          <p class="name">{{ photo.name }}</p>
        </div>
        <div *ngIf="changeMode" class="btn-group" role="group">
          <button class="btn btn-default" (click)="editPhoto()">Edit</button>
          <button class="btn btn-default" (click)="delete()">Delete</button>
      </div>
    </div>
    <div class="col-md-12 description">
      <span class="line-breaker">
        {{photo.description}}
      </span>
    </div>
    <div>Added <span *ngIf="!changeMode" class="owner">by <a *ngIf="photo.owner" (click)="openUserPhotos(photo.owner)">{{photo.owner}}</a></span> {{ photo.dateTimeCreate | date:'short' }}</div>
    <div class="col-md-6">
      <star-rating-comp [starType]="'svg'" [labelText]="'Rating '" [readOnly]="true" [rating]="photo.rating"></star-rating-comp>
    </div>
    <div *ngIf="!changeMode" class="col-md-6">
      <star-rating-comp [starType]="'svg'"  [labelText]="'My rating '"
      [hoverEnabled]="true"  [rating]="rate"  (onClick)="onClick($event)"></star-rating-comp>
    </div>
  </div>
</form>