/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #5F5D5D;
    color: white;
}
/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 100%;
    z-index: 9999;
    background-color: #414141;
    min-width: 389px;
}
.navmenu ul {
    display: none;
    position: absolute;
    top: 100%;
    list-style-type: none;
    border-radius: 0px;
    border-width: 0px;
    padding: 0;
    margin: 0;
    background-color: #414141;
}
.navmenu li:hover ul { 
    display: block; 
}
.navmenu {
    list-style-type: none;
    border-radius: 0px;
    border-width: 0px;
    height: 100%;
    padding: 0;
    margin: 0;
}
.navmenu-header {
    float: none;
}
.navmenu li {
    /* display: inline; */
    font-size: 18px;
    float: left;
    position: relative;
}
.navmenu li a {
    padding: 6px 16px;
    border-radius: 4px;
}
.navmenu a {
    /* If a menu item's text is too long, truncate it */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}