<div class='main-nav'>
    <ul class="navmenu"> 
        <li  [routerLinkActive]="['link-active']">
            <a [routerLink]='["/all-photos"]'>
                <span class='glyphicon'></span> All Photos
            </a>
        </li>
        <li *ngIf="!loggedOut" [routerLinkActive]="['link-active']">
            <a [routerLink]="[username,'manage']">
                <span class='glyphicon'></span> My Photos
            </a>
        </li>
        <li *ngIf="loggedOut" [routerLinkActive]="['link-active']">
            <a [routerLink]="['/login']">
                <span class='glyphicon'></span> Login
            </a>
        </li>
        <li *ngIf="!loggedOut">
            <a>
                <span class='glyphicon'></span> {{username}}
            </a>
            <ul class="submenu">
                <li>
                    <a (click)="logout()">LogOut</a>
                </li>
                <li>
                    <a [routerLink]="[username,'profile']"> Profile
                        <span class='glyphicon'></span> 
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>