<h1>Login</h1>
<form>
  <div>
    <div class="form-group">
      <div class="col-md-12"> 
          <mat-form-field>
              <input matInput type="login" name="login" placeholder="enter login" [(ngModel)] = "model.username" #login="ngModel"
                    required/>
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <mat-form-field>
              <input matInput type="password" name="password" placeholder="enter password" [(ngModel)] = "model.password" #password="ngModel"
                required/>
          </mat-form-field>
      </div>
      <div class="col-md-12">
          <button [disabled]="login.invalid || password.invalid"
                  class="btn btn-default" (click)="Login(model)">Enter</button>
          <button class="btn btn-default" (click)="Registration()">Registration</button>
      </div>
    </div>
  </div>
</form>