<div *ngIf="!list">Loading...</div>
<div class="photo-container" *ngIf="list">
    <div>
      <button class="btn btn-default" (click)="addPhoto()">Add New Photo</button>
      <order [type]="pageInfo.typeOfOrder" (newOrder)="changeOrder($event)"></order>
      <paging *ngIf="pages" [pageNumber]="pageInfo.pageNumber" [count]="pages" (newPage)="selectPage($event)"></paging>
      <ul>
        <li *ngFor="let item of list">
          <view-photo [photo]="item" [changeMode]="true" (photoChanged)="getPhotosInOrder()"></view-photo>
        </li>
      </ul>
      <paging *ngIf="pages" [pageNumber]="pageInfo.pageNumber" [count]="pages" (newPage)="selectPage($event)"></paging>
    </div>
</div>