<form>
  <p *ngIf="createMode" mat-dialog-title>Add photo</p>
  <p *ngIf="!createMode" mat-dialog-title>Edit photo</p>
  <mat-progress-spinner *ngIf="showSpinner" [mode]="['indeterminate']" diameter="30"></mat-progress-spinner>
  <div *ngIf="(photo && !showSpinner)">
    <mat-dialog-content>
      <div class="col-md-12">
        <div class="col-md-12">
          <div *ngIf="createMode" class="form-group">
            <label class="btn btn-default" for="file">Select File</label>
            <input type="file" name="file"
                  id="file"
                  (change)="handleFileInput($event.target.files)"
                  accept=".jpg, .jpeg, .png"
                  required>
          </div>
        </div>
        <div *ngIf="fileToUpload">file selected</div>
        <div class="col-md-12">
            <input class="fill" type="text" name="title" placeholder="Title" [(ngModel)] = "photo.name" #name="ngModel"
            required/>
        </div>
        <div class="col-md-12">
          <textarea class="fill" name="description" placeholder="Description" [(ngModel)]="photo.description" #description="ngModel" required>
          </textarea>
        </div>
      </div>
      
    </mat-dialog-content>
    <mat-dialog-actions  class="btn-group" role="group">
      <button [disabled]="name.invalid || description.invalid || (createMode && !fileToUpload)"
      class="btn btn-default" (click)="saveChanges()">Ok</button>
      <button class="btn btn-default" (click)="onNoClick()">Cancel</button>
    </mat-dialog-actions>
  </div>
</form>
