p {
    font-weight: bold;
}
.form-group {
    margin-bottom: 0;
}
.form-group input {
    opacity: 0;
    display: inline-block;
}
textarea {
    height: 50pt;
}
div {
    padding: 0pt;
}
.fill {
    width: 100%;
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }